html,
body,
div {
    margin: 0;
    border: 0;
    padding: 0;
}
html,body{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}
@font-face{
    font-family: huakang;
    src: url('../fonts/huakang.ttf');
}
#app{
    font-family: huakang;
    height: 100%;
    width: 100%;
}

//定义scss全局变量
$background-color: #222222;
$color-white: #fff;

@import './app.scss';
@import './button.scss';
@import './form.scss';
