/**
 * @author caowencheng <845982120@qq.com>
 * created on 24.03.2017
 */
html,
body,
div {
    margin: 0;
    border: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#app{
    height: 100%;
    width: 100%;
}