.addTodoList{
    margin-top: 9rem;
    overflow-y: auto;
    padding-left: 2rem;
    height: 60%;
    ul{
        font-size: 2rem;
        li{
            margin-top: 1rem;
        }
    }
    .isComplated{
        text-decoration: line-through;
    }
    .none{
        display: none;
    }
}

