.addTodoBtn{
    .add_value{
        width: 50%;
        height: 4rem;
        float: left;
        margin-left: 2rem;
        margin-top: 2rem;
        border: 0.1rem green solid;
        border-radius: 2rem;
        outline: none;
        padding-left: 2rem;
        font-size: 2rem;
        line-height: 4rem;
        font-family: huakang;
    }
    .add_waitDo{
        width: 30%;
        height: 4rem;
        line-height: 4rem;
        float: right;
        text-align: center;
        margin-top: 2rem;
        margin-right: 1rem;
        border: 0.1rem red solid;
        color: green;
        border-radius: 2rem;
        font-size: 1.5rem;
    }
}

