$background-color: #f5f5f5;

.container{
    height: 100%;
    width: 100%;
    background-color: $background-color;
    img{
        width: 200px;
        height: 150px;
        position: absolute;
    }
}
